:root {
  --font-main: 'Inter', Arial, Helvetica, sans-serif;
  --font-accent: 'PressStart2P', Courier, monospace;
  --font-weight-main: 400;
  --font-weight-title: 785;
  --color-main: #000;
  --color-bg: #fff;
  --color-blend: #fff;
  --color-heart-cntr: #000;
  --color-heart-mb: #f00;
  --img-bg: repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px),
            repeating-linear-gradient(180deg, #d3d3d3 0 2px, transparent 2px 4px),
            linear-gradient(180deg, #e7e7e7 0%, #1a1a1a 100%);
}